### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/antlr4/com/example/minilang/.antlr

### Mac OS ###
.DS_Store

### LSP ###
out
node_modules
client/server
.vscode-test
tsconfig.tsbuildinfo
*.code-workspace
!target\LLVMINI-1.0-SNAPSHOT.jar


### General ###
/target
target/
/target/
/target/**
*.class
*.interp
*.tokens
/.idea/
*.iml
*.ll
*.vsix
